* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

header {
  width: 100%;
  background-color: black;
  height: 50px;
}

body {
  background-image: url(https://cdn.pixabay.com/photo/2016/01/22/18/59/background-1156435_960_720.png);
  background-size: cover;
}

h1 {
  font-size: 48px;
  text-align: center;
  font-weight: 600;
  color: red;
}

a {
  text-decoration: none;
  color: red;
}

span {
  color: red;
  font-size: 24px;
}



.first {
  z-index: 1;
  text-align: center;
  color: red;
  font-size: 48px;
}

#main-img {

  img {
    border-radius: .8rem;
    width: 700px;
    height: 400px;
    object-position: center;
  }
}

.nav {
  width: 100%;
  text-align: center;
  padding-top: 12px;
}

.nav_el {
  font-size: 24px;
  padding: 50px;
}

.nav_el:hover {
  color: skyblue;
}

.block__menu {
  width: 100%;
  text-align: center;
  height: 500px;
}

.title_tanks {
  color: red;
  background-color: black;
  border-top: 2px solid orange;
  width: 100%;
  text-align: center;
  font-size: 36px;
}

.short {
  background-color: black;
  border-top: 2px solid orange;
  width: 100%;
}

.short-text {
  width: 90%;
  font-size: 18px;
  color: orange;
  text-align: start;
  padding: 30px 0;
  padding-left: 4%;
}

.images {
  // width: 100%;
  // text-align: center;
  // height: 500px;
  // padding-top: 40px;
  display: grid;
  grid-template-columns: max-content;

  gap: 1.5rem;
  margin-top: 2rem;
}

.box {
  margin: .8rem;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: .8rem;
  background-color: black;
  box-shadow: 2px 4px 10px 4px rgb(14 55 54 / 15%);

  img {
    border-radius: .8rem;
    width: 100%;
    height: 200px;
    object-fit: contain;
    object-position: center;
  }

  h3 {
    font-size: 1.3rem;
    margin: .5rem 0;
    text-transform: uppercase;
    color: rgb(255, 0, 0);
    font-weight: 600;
    text-align: center;
  }

  .content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    align-items: center;

    span {
      padding: 0 1rem;
      color: orange;
      font-weight: 500;
    }
  }
}

.row {
  width: 100%;
  height: 225px;
  display: flex;
}

.flow {
  width: 100%;
  height: 1000px;
  background-color: yellow;
  opacity: 0.5;
  z-index: 0;
  position: absolute;
}

.tanks {
  display: flex;
  width: 100%;
  height: 500px;
}

.info-foot {
  margin-left: 40px;
}

.tank {
  border: 1px solid red;
  width: 50%;
  z-index: 1;
}

.title_types {
  text-align: center;
  font-size: 36px;
  color: darkgreen;
}

.info-tank {
  width: 33%;
  height: 100px;
}

.text-info {
  font-size: 18px;
  color: rgb(241, 150, 13);
}

.mystory {
  width: 100%;
  text-align: center;
}

.history-img {
  width: 200px;
  height: 100px;
}

footer {
  background-color: black;
  border-top: 2px solid orange;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .social {
    display: flex;
    align-items: center;
    column-gap: 0.3rem;
    justify-content: center;
    a .bx {
      padding: 15px 15px;
      font-size: 2rem;
      text-transform: initial;
      font-weight: 600;
      color: red;
    }
  }
  h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    color: red;
    margin-bottom: 10px;
    text-align: center;
  }
  p {
    font-size: 1.3rem;
    text-transform: initial;
    font-weight: initial;
    color: red;
  }
  .contact {
    font-size: 1.3rem;
    text-transform: initial;
    font-weight: initial;
    color: red;
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
  }
}
.copyright {
  background-color: black;
  border-top: 2px solid orange;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  color: red;
  font-size: 1.3rem;
  a {
    color: red;
    &:hover {
      color: #dda0dd;
    }
  }
}

.story {
  background-color: darkblue;
  border: 1px solid white;
  box-shadow: 1px 1px 10px 1px white;
  color: red;
  font-size: 18px;
  text-align: center;
  width: 100%;
}

.history {
  text-align: center;
  background-color: rgb(192, 32, 32);
  color: white;
  line-height: 1.5;
}