
<footer>
    <div class="contact">
        <h3>Contact</h3>
        <span><i class='bx bxs-map'></i> 22100, м. Козятин, Україна</span>
        <span><i class='bx bxs-phone'></i> +380 63 6921 435</span>
        <span><i class='bx bxs-envelope'></i> ivanz0708921@gmail.com</span>
        <div class="social">
            <a href="https://m.facebook.com/100068184313411/" target="_blank"> <i class='bx bxl-facebook'
                                                                                  id="facebook-icon"></i></a>
            <a href="https://www.instagram.com/opri_um/" target="_blank"> <i class='bx bxl-instagram'
                                                                             id="instagram-icon"></i></a>
            <a href="" target="_blank"> <i class='bx bxl-linkedin' id="linkedin-icon"></i></a>
        </div>
    </div>
</footer>
<div class="copyright">
    <p>&copy;2022 <a href="https://github.com/Ivan0707z" target="_blank">Заїчко Іван</a> всі права захищені
    </p>
</div>